#post-comments {
.bg-col(@orange);
.border-top(@white; 0.1);
.over-hide;
.transition(0.5s, ease-in-out);
.min-h(7);

	
	&.comments-closed {
	.h(7);	
		.btn {
			&:after {
			font-family: FontAwesome;
			content: "\f055";	
			}	
		}
	}
	&.comments-open {
	height: auto;	
		.btn {
			&:after {
			font-family: FontAwesome;
			content: "\f056";	
			}	
		}
	}	
	
	.comments-header {
	.h(7);
		h2 {
		.line-h(7);	
		.mag-top(0);
		.mag-bot(0);
		.caps;
		.col(@white);
		.font-ex-lite;
		.fleft;
		.font-size(3.8);
			i, span {
			.rel;
			.in-block;
			.w(3);
			.h(3);
			.line-h(2.8);
			.border(@white; 0.1);	
			.font-size(1.6);
			text-align: center;
			.top(-0.8);
			.mag-right(0.5);
			}
			span {
			.font-normal;	
			.top(-0.7);
			}
		}
		
		.btn {
		.mag-top(2);
		.col(@white);
		.fright;	
		.pad-all(0);
		.bg-col(@trans);
		.border(@white; 0.1);
		.h(3);
		.w(3);
		.transition(0.2s, ease);
			&:hover, &:active, &:focus {
			.col(@black);
			.bg-col(@white);	
			}
		}	
		
	}
}

.comments-content {
.bg-col(@white);	
.pad-all(2);
.mag-bot(2);
.rounded(@radius: 6px);
	h3 {
	.mag-top(0);	
	.col(@Dkblue);
	.font-size(2);
	.pad-bot(1);
	.mag-bot(0);
	.font-lite;
	.caps;
	}
	
	.logged-in-as {
	.col(@gray);	
	}
	
	.comment-nav {
	.pad(0.5;1;0.5;1);
	.mag-bot(2);
	.bg-col(@blue);
	.over-hide;
	
		a {
		.col(@white);
			&:hover, &:active, &:focus {
			.col(@orange);	
			}	
		}
	
		.alignleft, .alignright {
		width: 50%;	
		}
	
		.alignleft {
		.fleft;	
		}
	
		.alignright {
		.fright;	
		text-align: right;
		}
	
	}
	
	ol.commentlist {
	list-style: none;	
	.pad-left(0);
	
		li {
		.bg-col(@grayLt);
		.pad-all(1);
		.mag-bot(1);
		.rounded(8px);
		
			&:last-child {
			.mag-bot(2);	
			}	
		}
	}
	
	.comment-author {
		.mag-bot(0.5);
		.caps;
		.font-size(1.8);
		.font-lite;
		.col(@Dkblue);
			img {
			.mag-right(1);	
			}
	}
	
	.comment-form-comment {
		label {
		.block;
		.w(10);
		text-align: center;
		.normal;
		.caps;	
		.font-size(1.2);
		.line-h(3);
		.bg-col(@blue);
		.col(@white);
		.rounded(8px);
		.mag-bot(-1.5);
		.mag-left(2);
		.rel;
		z-index: 2;
		}
		
		textarea {
		.rounded(8px);
		width: 100%;
		.border(@orange; 0.3);	
		resize: none;
		.pad-all(2);
			&:focus {
			outline: none;
			.bg-col(@grayLt);	
			}
		}
	}
	
	p.form-submit {
	.mag-top(-4);	
	text-align: right;
	.rel;
		&:after {
		content: "\f0a9";
		font-family: FontAwesome;	
		.col(@white);
		.abs;
		.right(3);
		.line-h(3.8);
		}
		input#submit {
		.mag-right(2);	
		.pad-right(4);
		.rounded(8px);
		.bg-col(@orange);
		.col(white);
		.no-border;
		.font-lite;
		.caps;
		.font-size(1.4);
			&:hover, &:active, &:focus {
			.bg-col(@blue);
			}
		}
	}
}