.section-block {	
.border-top(@white; 0.1);	
.col(@white);
.rel;
}

.container {
.rel;
}

.orange-section {
.bg-col(@orange);
}

.blue-section {
.bg-col(@blue);
}

.black-section {
.bg-col(@black);
}

/* AREAS SECTION */
#areas-section {
.pad-bot(3);
.pad-top(3);
	
	.icon-panel {
	.rel;
	.pad-top(0);
	.pad-bot(0);
	.mag-bot(0);	
	.over-hide;
	}
	
	h4 {
	.caps;	
	.font-lite;	
	.mag;
	.font-size(2.5);
	text-align: center;
	.mag-bot(1);
		a {
		.col(@white);
		.no-text-dec;
			&:hover, &:active, &:focus {
			.col(@orange);	
			}	
		}
	}
	
	p {
	.mag-bot(0);
	.font-size(1.8);
	text-align: center;	
	}
	
	.icon {
	margin: 0 auto 20px;
	.w(17);
	.h(17);
	.rounded(85px);
	.bg-repeat(no-repeat);
	background-position: center center;
	.bg-size(60% 60%);
	.transition(0.5s, ease-in-out);
	
		&.normal {
		.bg-col(@white);
		.col(@black);	
			i {
			.col(@black);
			}
		}
		
		&.active {
		.bg-col(@orange);	
		.col(@white);
		
			i {
			.col(@white);
			}
		}
		
		i {
		.block;
		.w(17);
		.h(17);		
		text-align: center;
		.line-h(17);
		.font-size(10);
		}
		
	}
	
}

/* WORK SECTION */
#work-section {
.pad(3;0;0;0);
	
	a.img-link {
	.block;
	.mag-bot(3);
		.img-wrap {
		.h(24);
		.rel;
		.over-hide;
		.border(@DKorange, 0.5);	
		.col(@white);
		.transition(0.2s, ease);
			
			figcaption.link-title {
			.transition(0.5s, ease);
			.abs;
			.bottom(-4);
			.left(0);
			width: 100%;
			.pad(0;0.5;0;0.5);
			.trans-bg(@DKorange; 0.7);
			.h(4);
			.line-h(4);
			}
			
			&:hover, &:active, &.focus {
			.border-col(@black);
				figcaption.link-title {
				.trans-bg(@black; 0.7);	
				.col(@white);
				.bottom(0);
				}	
			}
		}	
		
		img {
		width: 100%;
		height: auto;	
		}
	}	
	
	.section-header {
	.mag-bot(0);
		a {
		.bottom(3);
		}
	}
	
	&.mobile {
		a.img-link {
		.img-wrap {
		figcaption.link-title {
			@media (min-width: @screen-md) {
			.pad-all(0.5);
			height: auto;
			line-height: inherit;
			.bottom(0);
			}
		}
		}
		}
	}
}

.AlpinePhotoTiles_inpost_container {
	.mag-left(0);
	.mag-right(0);
	.pad-bot(0) !important;
	width: 100%;

	img {
	max-width: 100% !important;	
	.mag(0;0;3;0) !important;
	.pad-all(0.5) !important;
	.bg-col(@Dkblue) !important;
	}
	
	.AlpinePhotoTiles_cascade_column_inner {
	margin: 0px 30px 0px 0px !important;
	
		a.AlpinePhotoTiles-link {
		width: auto;
		.pad-left(0);
		.pad-right(1);
		.mag-bot(3);
		margin-right: 0px;
		//margin-right: 10%;
			img {
			.mag-bot(0) !important;	
			.pad-left(0);
			.pad-right(0);	
			}
			
			&:last-child {
			.mag-bot(0);	
			}
		}
	}	
	
	a.AlpinePhotoTiles-link:hover {
		img {
		.bg-col(@black) !important;	
		}
	}
}

#blog-section {
.pad-bot(3);
.pad-top(3);
	.section-header {
	.mag-bot(0);
	}

	.blog-feed {
	
		h3 {
		.none;	
		}
		
		ul {
		list-style: none;
		.pad-left(0);	
		.mag-bot(0);
		.border-bot(@Dkblue, 0.1);	
		}
		
		li {
		.pad(1.9;0;1.9;0);
		.border-top(@Dkblue, 0.1);	
		.font-size(2.4);
		.line-h(2.4);
		 	a {
			.col(@Dkblue);
			.no-text-dec;
			.block;
			.mag-bot(0.5);
				&:hover, &:active, &:focus {
				.col(@orange);	
				}
		 	}
		}
		
		span.post-date {
		.block;	
		.font-size(1.6);
		.caps;
		}
	}
}

.section-header {
.caps;
.pad-bot(0);	
.abs;
.right(0);
.top(0);
.bottom(0);
	&.indent {
	.right(2);	
	}

	h3 {
	.mag;
	.in-block;	
	.font-size(3);
	.line-h(3);
	.font-ex-lite;
	.abs;
	.top(0);
	.right(4.5);
	.transform( rotate(-90deg) );
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: btop right;
	}
	
	//a
	a {
	.abs;
	.bottom(0);
	.right(1.5);
	.pad;	
	.w(3);
	.h(3);
	.bg-col(@trans);
	.border(@white; 0.1);
	.col(@white);
	.transition(0.2s, ease);
		i {
		.block;	
		.w(3);
		.h(3);
		.line-h(2.8);
		}
		
		&:hover, &:active, &:focus {
		.bg-col(@white);	
		.border-col(@white);
		}
	}//a	
}